*{
    font-family: Georgia;
    margin: 0px;
    padding: 0px;
}

.card1, .card2{
    background-color: rgb(128, 236, 239);
    padding: 20px;
    min-height: 200px;
    max-width: 250px;
    border-radius: 16px;
    border: 1px solid rgb(0, 0, 132) ;
    margin: 20px;
}
p{
    padding: 5px;
    text-align: justify;
    margin: 8px;
}

h3{
    margin-top: 8px;
}

.button{
    display: inline-block;
    width: 225px;
    text-align: center;
    background-color: rgb(0, 170, 226);
    padding: 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
}

.button:hover{
    background-color: blue;
}

.button:active{
    background-color: rgb(188, 188, 255);
}

.button:visited{
    background-color: rgb(14, 34, 40);
}

.img-card{
    width: 250px;
    height: 250px;
    border-radius: 16px;
}