*{
    box-sizing: border-box;
}
body{
    width: 1000px;
    margin: 0 auto;
}

#header{
    text-align: center;
    background-color: #e0e0e0;
    padding: 10px;
}

#nav li{
    display: inline;
    padding: 5px;
}

#highlight{
    text-align: center;
    background-color: #e0e0e0;
    padding: 10px 20px;
    margin-top: 10px;
}

.article{
    width: 290px;
    border: 1px solid #aeaeae;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin: 10px 10px;
}

#footer{
    text-align: center;
    background-color: #aeaeae;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.box{
    display: flex;
    flex-wrap: wrap;
}
